html{
    min-height: 100%;
}
body {
    font-family: sans-serif;
    background: linear-gradient(to right, #9796f0, #fbc7d4);
}
.container{
    width: 35vw;
    height: 75vh;
    background-color:white;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}

.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}
.tab{
    margin-top: 2vh;
    padding: 2vh 6vh 2vh;
    background-color:#dacadf;
}

.tab-content{
    text-align: justify;
    padding: 0vh 3vh;
}
.tab:hover{
    background-color: #c9bbce;
}
  
